---
layout: default
title: Xue Bin (Jason) Peng
---

<section class="intro">
	<img class="intro-photo" src="images/profile.png" alt="Xue Bin (Jason) Peng">
	<div class="intro-text">
		<h1>Xue Bin (Jason) Peng</h1>
		<p>
			I'm an Assistant Professor at Simon Fraser University (SFU) and a Research Scientist at NVIDIA. I hold a Canada CIFAR AI Chair through Amii. I will be moving to the University of British Columbia (UBC) in 2027.
		</p>
		<p>
			I received a Ph.D. from UC Berkeley, advised by Professor <a href="https://people.eecs.berkeley.edu/~svlevine/">Sergey Levine</a>
			and Professor <a href="https://people.eecs.berkeley.edu/~pabbeel/">Pieter Abbeel</a>.
			Prior to that, I received an M.Sc from the University of British Columbia, advised by Professor <a href="https://www.cs.ubc.ca/~van/">Michiel van de Panne</a>.
			My work lies in the intersection between computer graphics and machine learning, with a focus on reinforcement learning
			for motion control of simulated characters. I have previously worked for Sony, Google Brain, OpenAI, Adobe Research, Disney Research,
			Microsoft (343 Industries), and Capcom.
		</p>
		<p class="callout">
			<b>Prospective students:</b> Information is available <a href="prospective_students/index.html">here</a>.
		</p>
	</div>
</section>

<section>
	<h2>Codebase</h2>
	<article class="pub">
		<a class="pub-thumb" href="https://github.com/xbpeng/MimicKit"><img src="projects/MimicKit/MimicKit_teaser.gif" alt="MimicKit"></a>
		<div class="pub-info">
			<a class="pub-title" href="https://github.com/xbpeng/MimicKit">MimicKit</a>
			<div class="pub-authors">A framework with implementations of our motion imitation methods in one convenient place.</div>
			<div class="pub-links">
				<a class="pill" href="https://github.com/xbpeng/MimicKit">Code</a>
			</div>
		</div>
	</article>
</section>

<section>
	<h2>Publications</h2>
	{% for group in site.data.publications.years %}
	<h3 class="year">{{ group.year }}</h3>
	{% for name in group.projects %}
	{% include publication.html name=name %}
	{% endfor %}
	{% endfor %}
</section>

<section>
	<h2>Thesis</h2>
	<article class="pub">
		<a class="pub-thumb" href="projects/PhD_Thesis/index.html"><img src="projects/PhD_Thesis/phd_thesis_thumb_small.jpg" alt="Ph.D. Thesis" loading="lazy"></a>
		<div class="pub-info">
			<a class="pub-title" href="projects/PhD_Thesis/index.html">Acquiring Motor Skills Through Motion Imitation and Reinforcement Learning</a>
			<div class="pub-authors">Ph.D. Thesis</div>
			<div class="pub-venue">University of California, Berkeley 2021</div>
			<div class="pub-links">
				<a class="pill" href="projects/PhD_Thesis/index.html">Project page</a>
				<a class="pill" href="projects/PhD_Thesis/PhD_Thesis.pdf">Thesis</a>
			</div>
		</div>
	</article>
	<article class="pub">
		<a class="pub-thumb" href="projects/MSc_Thesis/index.html"><img src="projects/MSc_Thesis/msc_thesis_thumb_small.jpg" alt="M.Sc. Thesis" loading="lazy"></a>
		<div class="pub-info">
			<a class="pub-title" href="projects/MSc_Thesis/index.html">Developing Locomotion Skills with Deep Reinforcement Learning</a>
			<div class="pub-authors">M.Sc. Thesis</div>
			<div class="pub-venue">University of British Columbia 2017</div>
			<div class="pub-links">
				<a class="pill" href="projects/MSc_Thesis/index.html">Project page</a>
				<a class="pill" href="projects/MSc_Thesis/MSc_Thesis.pdf">Thesis</a>
			</div>
		</div>
	</article>
</section>
