---
layout: default
title: Team

students:
  - name: "Yi Shi"
    url: "https://yi-shi94.github.io/"
    photo: "photos/yi_shi.png"
    years: "2023 - Present"
  - name: "Dun Yang"
    url: "https://sites.google.com/view/dunyang"
    photo: "photos/dun_yang.png"
    years: "2024 - Present"
  - name: "Yuxuan Mu"
    url: "https://yxmu.foo/"
    photo: "photos/yuxuan_mu.png"
    years: "2024 - Present"
  - name: "Ziyu (Charlotte) Zhang"
    url: "https://ziyu-charlotte-zhang.github.io/"
    photo: "photos/ziyu_zhang.png"
    years: "2024 - Present"
  - name: "Sunwoo Kim"
    url: "https://pulsekim.github.io"
    photo: "photos/sunwoo_kim.png"
    years: "2025 - Present"
  - name: "Ruiyu Gou"
    url: "http://www.electricgreywhale.com/"
    photo: "photos/ruiyu_gou.png"
    years: "2025 - Present"
  - name: "Nicholas Ioannidis"
    url: "https://nickioan.github.io/"
    photo: "photos/nicholas_ioannidis.png"
    years: "2026 - Present"

alumni:
  - name: "Michael Xu"
    url: "https://michaelx.io/"
    photo: "photos/michael_xu.png"
    years: "M.Sc. 2023 - 2025"

---

<h1>{{ page.title }}</h1>

<h2>Ph.D. Students</h2>
{% include people.html people=page.students %}

<h2>Alumni</h2>
{% include people.html people=page.alumni %}

<a href="photos/mellow.png" class="invisible-box"></a>
