<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/arg">Art</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
		<footer>
	    		<ul>
	        		<li><a href="mailto:xbpeng@cs.ubc.ca">email</a></li>
	        		<li><a href="https://github.com/xbpeng">github.com/xbpeng</a></li>
			</ul>
		</footer>
	</html>
