<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-H77JS1DFCE"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-H77JS1DFCE');
		</script>
		
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/docs/jason_peng_cv.pdf">CV</a></li>
	        		<li><a href="/art">Art</a></li>
					<li><a href="https://twitter.com/xbpeng4?ref_src=twsrc%5Etfw" data-show-screen-name="false" class="twitter-follow-button" data-show-count="false">Follow @xbpeng4</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
		
		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-89363010-1', 'auto');
			  ga('send', 'pageview');
		</script>
		
		<footer>
	    	<ul>
				<li><a href="mailto:xbpeng@sfu.ca">email</a></li>
	        	<li><a href="https://github.com/xbpeng">github.com/xbpeng</a></li>
			</ul>
		</footer>
	</html>
