---
layout: default
---
{% comment %}
	Shared template for all project pages in projects/<Name>/index.html.
	Each project page only contains YAML front matter.
	Optional fields: award, author_note, teaser_width, links, videos. teaser can be a single
	image or a list. videos entries are .mp4 files (shown with <video>) or embed URLs
	such as https://www.youtube.com/embed/<id> (shown with <iframe>).
	Relative file paths are relative to the project directory.
{% endcomment %}

<center><h1>{{ page.title }}</h1></center>

<center>
	{{ page.venue }}<br>
	{% if page.award %}<b> {{ page.award }} </b> <br>{% endif %}
	<br>
	{% for author in page.authors %}<nobr>{{ author }}</nobr>{% unless forloop.last %} &emsp;&emsp; {% endunless %}{% endfor %}<br>
	<br>
	{% for affiliation in page.affiliations %}<nobr>{% if page.affiliations.size > 1 %}({{ forloop.index }}) {% endif %}{{ affiliation }}</nobr>{% unless forloop.last %} &emsp;&emsp; {% endunless %}{% endfor %}<br>
	<br>
	{% if page.author_note %}<nobr>{{ page.author_note }}</nobr><br>
	<br>
	{% endif %}
	{% assign teaser_width = page.teaser_width | default: "100%" %}
	{% if page.teaser.first %}{% assign teasers = page.teaser %}{% else %}{% assign teasers = page.teaser | split: "|" %}{% endif %}
	{% for teaser in teasers %}<img style="vertical-align:middle" src="{{ teaser }}" width="{{ teaser_width }}" height="inherit"/>
	{% endfor %}
</center>

<br>
<hr>
<h3 style="margin-bottom:10px;">Abstract</h3>
{{ page.abstract }}

<h3> Paper: [<a href="{{ page.paper }}">PDF</a>]{% for group in page.links %} &nbsp; &nbsp; &nbsp; {{ group[0] }}: [{% for link in group[1] %}<a href="{{ link[1] }}">{{ link[0] }}</a>{% unless forloop.last %} / {% endunless %}{% endfor %}]{% endfor %}</h3>

{% if page.videos %}
<h3 style="margin-bottom:10px;">Video{% if page.videos.size > 1 %}s{% endif %}</h3>
{% for video in page.videos %}
	{% unless forloop.first %}<br><br>{% endunless %}
	{% assign ext = video | split: "." | last | downcase %}
	{% if ext == "mp4" %}
	<video width="560px" height="315px" controls="controls">
		<source src="{{ video }}" type="video/mp4" />
	</video>
	{% else %}
	<iframe width="560" height="315" src="{{ video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	{% endif %}
{% endfor %}
<br>
<br>
{% endif %}

<h3 style="margin-bottom:0px;">Bibtex</h3>
<pre>
{{ page.bibtex }}</pre>
